<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seven.forum.dao.zyl.PostBarPartitionDao">

<!--    <resultMap id="allPartitionsAndCatalogues" type="PostBarPartitionEntity">-->

<!--    </resultMap>-->

    <select id="listAllPartitionsAndCatalogues"
            resultType="com.seven.forum.entity.zyl.PostBarPartitionEntity">
        SELECT A.partition_id,partition_name,catalogue_id,catalogue_name FROM post_bar_partition A,partition_catalogue B WHERE A.partition_id = B.partition_id AND partition_status=1 AND catalogue_status=1
    </select>


</mapper>